* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272822FF;
  max-width: 100vw;
}

textarea {
  font-size: 16px;
  width: 100%;
  color: black;
  height: 80vh;

}

.typing-input {
  color: black;
  opacity: 0;
  /* opacity: 0.3; */
}

.typing-text {
  text-align: center;
  padding: 20px;
}

.typing-text,
.typing-input {
  font-size: 16px;
  width: 100%;
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
}

span {
  font-weight: bold;
  font-size: 20px;
}

.t1 {
  border: 2px solid #ad0b0b;
}

.typing-input,
.typing-text {
  position: absolute;
}

.content {
  position: relative;
  width: 100vw;
}

.app {
  margin-top: 30px;
  position: relative;
  max-width: 100vw;
  text-align: center;
}

.actions * {
  margin: 10px;
}

.stats {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .actions {
    display: flex;
    justify-content: space-between;
  }
}